<div class="contact">
    <div class="contact__form">
    <form action="#" class="form">
            <div class="u-margin-bottom-medium">
                    <h2 class="heading-secondary">
                         Contact Us
                    </h2>
            </div>
            <div class="form__group">
                <input type="text" class="form__input" placeholder="Full Name" id="name" required>
                <label for="name" class="form__label">Full Name</label>
            </div>

            <div class="form__group">
                    <input type="email" class="form__input" placeholder="Email Address" id="email" required>
                    <label for="email" class="form__label">Email Address</label>
            </div>

            <div class="form__group">
                <textarea class="form__input" placeholder="Message" id="message" required></textarea>
                <label for="message" class="form__label">Message</label>
            </div>

            <div class="form__group">
                <button class="btn btn--blue">Submit &rarr;</button>
            </div>      
            
        </form>
    </div>
</div>