<h2>Team</h2>
<div class="card-container">
    {% for item in site.data.team %}
    <div class="card">
      <div class="icon">
        <img src="./assets/img/profile/{{ item.profile }}">
      </div>
      <div class="info">
    <a href="/team/{{ item.page-name }}">
        <p class="title">{{ item.name }}</p>
    </a>

        <p class="dates">{{ item.bio }}</p>
        {% if item.name == "Gerald Akorli" %}

          {% for weblink in site.data.links %}
            <a href="{{ weblink.link }}" class="{{ weblink.logo }}"></a>
          {% endfor %}

        {% else %}

          {% for weblink in site.data.links2 %}
            <a href="{{ weblink.link }}" class="{{ weblink.logo }}"></a>
          {% endfor %}

        {% endif %}
      </div>
    </div>
    {% endfor %}
</div>