.icon-container {
    margin-top: 30px; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #1d539f;
}

.fa {
    padding: 20px;
    width: 50px;
    color: #777;
}

.fa:hover {
    text-decoration: none;
    color: #444;
}
